<footer class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #EDE8DC">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav w-100 justify-content-around">
        <a class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/ma%C3%ABva-laurent-estavel/" target="_blank" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
         <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/mlaurent83" target="_blank"
          role="button" data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</footer>
