<footer class="footer">
  <div class="d-flex justify-content-center align-items-center" style="height: 100px; background-color: #EDE8DC;">
    <!-- Linkedin -->
    <a class="btn btn-link btn-floating btn-lg text-dark" href="https://www.linkedin.com/in/ma%C3%ABva-laurent-estavel/" target="_blank" role="button">
      <i class="fab fa-linkedin"></i>
    </a>
    <!-- Github -->
    <a class="btn btn-link btn-floating btn-lg text-dark" href="https://github.com/mlaurent83" target="_blank" role="button">
      <i class="fab fa-github"></i>
    </a>
  </div>
</footer>
